<%= form_for @place, :html => {:class => "form-horizontal center"} do |f| %>
      <div class="form-group">
        <%= f.label :photo, "Photo_URL:", class: "col-md-4 control-label"  %>
        <div class="col-md-4">
          <%= f.text_field  :photo, class: "form-control",  placeholder: "Photo_URL" %>
        </div>
        <div class="form-group">
        <%= f.label :size, "Size:", class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :size, class: "form-control" %>
        </div>
        <div class="form-group">
        <%= f.label :price, "Price per night:", class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :photo, class: "form-control", placeholder: "Price per night" %>
        </div>
        <div class="form-group">
        <%= f.label :description, "Description:", class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= f.text_area :description, class: "form-control", placeholder: "Give a short description" %>
        </div>
        <div class="form-group">
        <%= f.label :type, "Type of bnb:", class: "col-md-4 control-label" %>
        <div class="col-md-4">
        <%= f.select :type, options_for_select(Type.all.map{|t| [t.name, t.id]}), { :include_blank => "Please select category"}, {:class => "form-control"} %>
        </div>
        <div class="form-group">
        <%= f.label :location, "Location:", class: "col-md-4 control-label" %>
        <div class="col-md-4">
        <%= f.select :location, options_for_select(Location.all.map{|t| [t.name, t.id]}), { :include_blank => "Please select category"}, {:class => "form-control"} %>
        </div>




      

      <%= f.submit "Submit", class: "btn btn-default btn-primary" %>  
 <% end %>